body{
    margin:0;
    padding:env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
}
.title-container{
    background-image: url("../images/Alcazar_sev_xxl.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

    display: grid;
    grid-template-rows: auto auto 0.8fr;
    grid-template-columns: auto auto auto;
    grid-auto-rows: 50px;
    width: 100%;
    height:100vh;
    background-color: #ddd;
    padding: 0px;
    margin: 0rem;
    gap: 3vmin 2vmax;

 }
.heading{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: end;
    padding:0;
    margin:0;
    
}
.sub-heading{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
}

#name{
    font-size: 38pt;
    color:azure;
    font-family: 'Aleo', serif;
    background-color:#92ba6c;
    text-align: center;
    padding:8vh 8vw;
    margin-bottom: 0px;
}
#title{
    font-size:24pt;
    font-weight:lighter;
    color:azure;
    font-family: 'Gotu', sans-serif;
    background-color: #70a1e6;
    text-align: center;
    padding-left:9vw;
    padding-right: 9vw;
    margin:0px
}
.aboutme-container{
    margin-top:5vh;
    display: grid;
    grid-template-columns: 1fr minmax(300px,0.5fr);
    grid-template-rows: 1fr 1fr;
    width: 100%;
    height:100vh;
    background-color: #ddd;
    padding: 0px;
    gap: 3vmin 2vmax;
}
.about-image{
    grid-row: span 2;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.portrait{
    flex: 0 1 auto ;
    width:280px;
    height:280px;
    border-radius: 50%;
 }
 .about-title{
    display:flex;
    flex-direction: row;
    justify-content: start;
    align-items: end;
}
.welcome{
    flex:1;
    color: #92ba6c;
    font-family:'Aleo', serif;
    font-size:45px;
    margin:0px 0px 70px 3vw
}
.about-text{
    flex:1;
    flex-direction: row;
    align-items:start;
    justify-content: center;
    align-items:start;
}
#about-txt{
    font-family: 'Gotu', sans-serif;
    font-size: 17pt;
    margin: 0px 0px 0px 3vw
}
@media (min-width:590px) and (max-width:800px){
    .aboutme-container{
        display:flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
     }
    .about-image{
        grid-row: 1;
        flex:flex;
        margin:0px;
        max-height:fit-content;
    }
    .portrait {
        width:280px;
        height:280px;
        margin-top:100px;
    } 
    .about-title{
        flex:0 0 auto;
        order:1;
        max-width:fit-content;
        margin-top:40px;
    }
    .welcome{
        font-size:57px;
        text-align: center;
        margin:0px;
    }
    .about-text{
        order:2;
        flex:1;
        align-items:start;
        max-height:fit-content;
        max-width:fit-content;
        margin-top: 30px;
    }
    #about-txt{
        font-size: 25pt;
        text-align:justify;
        margin:0px;
        width:580px
    }
}